<!DOCTYPE html>
<body>
  <h1>New root</h1>
  <form action="/categories" method="POST">
    <input type="text" name="title" placeholder="Name your category" required>
    <input type="text" name="brief" placeholder="add a brief description about the category you have created" required>
    <input type="text" name="image" placeholder="Put an image url here(must be 200x200px)" required>
  <button>Grow this root</button>
  </form>
</body>
</html>
