<!DOCTYPE html>
<body>
  <h1>Make a new post</h1> 
  <form action="categories/:id" method="POST">
    <input type="text" name="title" placeholder="title" required>
    <input type="text" name="body" placeholder="Add the body here" required>
    <input type="text" name="image" placeholder="Place your contents url here">
    <button>Add post</button>
  </form>
</body>
</html>