<!DOCTYPE html>
<body>
  <h1>Plant a seed</h1> 
  <form action="/category/<%= categoryId[0].id %>" method="POST">
    <input type="text" name="title" placeholder="title" required>
    <input type="text" name="body" placeholder="Add the body here" required>
    <input type="text" name="image" placeholder="Place your contents url here">
    <button>Add seed</button>
  </form>
</body>
</html>