<!DOCTYPE html>
<body>
<h1>Seeder</h1>
<ul>
  <% for(var i = 0; i < pTitles.length; i++){ %>
  <li><a href="/post/<%= pTitles[i].id %>"><%= pTitles[i].title %></a></li> <% } %>
</ul>
<ul>
  <% for(var i = 0; i < cTitles.length; i++){ %>
  <li><a href="/post/<%= cTitles[i].id %>"><%= cTitles[i].title %></a></li> <% } %>
</ul>

<a href="/categories/new">Add a new category</a>
</body>
<html>