<!DOCTYPE html>
<body>
  <h1><%= thisPost.title %></h1>
  <h5><%= thisPost.body %></h5>
  </br>
  <div>
    <img src="<%= thisPost.image %>"
  </div>
  </br>
  <form method="POST" action="?_method=DELETE">
    <button>Delete this post</button>
  </form>
  </br>
  <p>Comment on this post</p>
  </br>
  <a href="/category/<%= thisPost.category_id %>">Go back to the category</a>
</body>